<h1><%= @task.title %></h1>

<div class= "bg-secondary">
  <p><%= @task.details %></p>
</div>

<%= link_to "Edit this task", edit_task_path(@task), class: "btn btn-primary" %>
<%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, task_path(@task), method: :delete, data: { confirm: "Delete #{@task.title}?" } %>

<%= form_for(@task) do |f| %>
  <% if @task.completed %>
    <%= f.check_box :completed %>
    <%= f.label "The task is completed" %>
  <% else %> 
    <%= f.check_box :completed %>
    <%= f.label "The task is not completed yet" %>
  <% end %>
<% end %>


<%= link_to "Back to the list", tasks_path, class: "btn btn-primary" %>
